html,
body{
  padding: 0;
  margin: 0%;
  font-family: monospace;
}
body {
  background-color: hsl(30, 38%, 92%);
  width: 100vw;
  height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}
* {
  box-sizing: border-box;
}

main{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50rem;
  height: 50rem;
  background-color: #f4ebe4;
  margin: auto;
}

.section-one{
  width: 20rem;
  height: 30rem;
}
.section-one img{
  width: 100%;
  height: 100%;
  border-radius: 5px 0 0 5px;
}
.section-two{
  width: 20rem;
  height: 30rem;
  padding: 2rem;
  background-color: white;
  border-radius: 0 5px 5px 0;

}

.pricing{
  display: flex;
  gap: 1rem;
  align-items: center;
}

.button-wrapper img{
  height: 2rem;
  width: 1rem;
}

.button-wrapper{
  background-color: hsl(158, 36%, 37%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
}

button{
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

.price1{
  color: hsl(158, 36%, 37%);
  font-size: 1.5rem;
  font-weight: bolder;
}

p{
  color: hsl(228, 12%, 48%);
}